h3 {
  color: #000;
  font-weight: 300;
  font-size: 24px;
}
.app-add-form {
  margin-top: 30px;
  padding: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 1px solid #000;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
  color: #fff;
  .btn.btn-outline-light {
    width: 100px;
    border-radius: 15px;
  }
}

.add-form {
  margin-top: 20px;
}

.add-form input {
  width: 350px;
  margin-right: 20px;
  border: 1px solid #000;
  border-radius: 15px;
}
